---
layout: default
bodytags: with-hero
---
<div class="hero">
  <section>
    <h1>RustFest</h1>
    <p>Join us for Europe's first conference dedicated to the Rust programming language</p>

    <div class="itemgroup">

      <div>
        <p class="desc">Talks</p>
        <p>
          Saturday,<br/>
          Sept 17th, 2016
        </p>
      </div>

      <div title="Pending the necessary funds">
        <p class="desc">Workshops <span style="color:white">*</span></p>
        <p>
          Sunday,<br/>
          Sept 18th, 2016
        </p>
      </div>

      <div class="location">
        <p class="desc">Location</p>
        <p>
          <address title="Unter den Linden 17, 10117 Berlin">
            <a href="https://www.microsoft.com/de-de/berlin/atrium/">Microsoft Atrium</a><br />
            Berlin, Germany<br/>
          </address>
        </p>
      </div>

      <div class="callout">
        <a href="#newsletter" class="button primary js-smoothscroll">Get your tickets</a>
      </div>
    </div>

    <div class="disclaimer">
      * Given we are able to raise the necessary funds. <a href="/sponsoring/">Want to sponsor</a>?
    </div>

  </section>
</div>

<div class="popout" id="call-for-papers">
  <section>
    <div class="itemgroup">
      <div style="margin-right: 5em;">
        <h2>Call for mentors</h2>
        <p>
          Call for papers has closed but we are still looking for mentors our speakers and at workshops:
        </p>
        <ul>
          <li>
            If you want to <strong>help speakers</strong>, please sign up on <a href="https://cfp.rustfest.eu">call for papers app</a> and click that check mark.
          </li>
          <li>
            If you <strong>have an idea for a workshop</strong> or want to <strong>help out coaching at workshops</strong>, please shoot us an email to <a href="mailto:coaching@rustfest.eu">coaching@rustfest.eu</a>!
          </li>
        </ul>
      </div>
      <div class="timeline">
        <h3>Timeline</h3>
        <p>
          ✓<span style="text-decoration: line-through"><span class="highlight">May 24th</span>: Call for paper opens</span> <br>
          ✓<span style="text-decoration: line-through"><span class="highlight">June 27th</span>: Call for papers closes</span><br>
          ➨ <span class="highlight">July 14th</span>: Speakers notified <br>
          – <span class="highlight">Sept 17th</span>: Conference
        </p>
      </div>
    </div>
  </section>
</div>

<div>
  <section id="speakers">
    <h2>Speakers</h2>
    <ul class="speakers">
      {% for speaker in site.data.speakers %}
        <li class="speaker-box">
          <div  class="portrait">
            <img src="/assets/speakers/{{speaker.thumbnailUrl}}" />
          </div>
          <div class="info">
            <span class="name">{{speaker.name}}</span>
            <ul class="links">
              {% for link in speaker.links %}
                <li><a href="{{link.link}}" target="_blank" title="{{link.title}}">{% include icons/{{link.icon}}.svg %}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="desc">
            {{speaker.desc}}
          </div>
        </li>
      {% endfor %}

        <li class="speaker-box">
          <div  class="portrait">
            <img src="/assets/speakers/rustacean-flat-happy.png" />
          </div>
          <div class="info">
            <span class="name">Ferris</span>
          </div>
          <div class="desc">
            The Call for papers has commenced and we are reviewing and selecting the other talks. Stay tuned to hear the announcements soon.
          </div>
        </li>
    </ul>
  </section>
</div>


<div id="sponsors" class="sponsors">
  <section>
    <h2>Sponsors</h2>
    <ul>
      {% for sponsor in site.data.sponsors %}
        <li><a href="{{sponsor.link}}" title="{{sponsor.name}}"><img src="/assets/sponsors/{{sponsor.logoName}}" /></a></li>
      {% endfor %}
    </ul>
    <div style="text-align: right">
      <a class="button primary" href="/sponsoring/">
        Want to sponsor?
      </a>
    </div>
  </section>
</div>

{% assign post = site.posts[0] %}
{% if post %}
<div id="news">
  <section>
    <h2 class="headline">Latest news <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">{% include icons/rss-square.svg %}</a></h2>
    <div class="post">
      {% include post_excerpt.html post=post %}
    </div>
    <div style="text-align: right">
      <a href="/blog/">» more news</a>
    </div>
  </section>
</div>
{% endif %}

<div id="newsletter">
  <section>
    <h2>Stay up to date</h2>
    <form id="mailchimpForm" class="formInput"  action="https://{{site.mailchimp.server}}/subscribe/post" method="POST">
      <p>
        Ticket sales start soon. Join our mailing list to always receive the latest infos:
      </p>
      <input type="hidden" value="{{site.mailchimp.user}}" name="u" />
      <input type="hidden" value="{{site.mailchimp.id}}" name="id" />
      <div class="group">
        <input type="email" id="js-email" name="EMAIL" required placeholder="your.email@example.org" />
        <button type="submit">Sign up</button>
      </div>
    </form>
  </section>

  <section class="twitter">
    <h2>Follow us on twitter</h2>
    <a class="inline" href="https://www.twitter.com/{{site.twitter_username}}" >
      {% include icons/twitter.svg %} @{{site.twitter_username}}
    </a>
  </section>
</div>
