---
layout: default
---
<div class="popout">
  <section>
    <h1>{{ page.title }} <a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">{% include icons/rss-square.svg %}</a></h1>
    <hr />
  </section>
</div>

<section>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% include post_excerpt.html post=post %}
      </li>
    {% endfor %}
  </ul>
</section>

{% if paginator.total_pages > 1 %}
  <section>
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="/page{{ paginator.previous_page }}" class="previous">⎗</a>
      {% else %}
      <span class="previous">⎗</span>
      {% endif %}
      <span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}" class="next">⎘</a>
      {% else %}
      <span class="next ">⎘</span>
      {% endif %}
    </div>
  </section>
{% endif %}
