
<div class='popout'>
  <section>
    <h1>RustFest 2016 - Schedule <a href="http://lanyrd.com/2016/rustfest/save-to-calendar/">{% include icons/calendar.svg %} </a></h1>
  </section>
</div>


<div class='schedule'>
  <section>
    <h2 class="title">Saturday, 17th September</h2>
    <table cellspacing='0'>
      <tr>
        <td class="time">08<span>30</span></td>
        <td class="centered">Registration opens<br/>
        Coffee & Breakfast </td>
      </tr>
      <tr>
        <td class="time">09<span>30</span></td>
        <td>
          Welcome &amp; Housekeeping
          <div class='speaker'>
            <img src="/assets/speakers/ryan.jpg" />
            Ryan Levick
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">09<span>45</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#subtyping-in-rust-and-clarke-s-third-law">
            <strong>Keynote:</strong> Subtyping in Rust and Clarke's Third Law
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/felix.jpg" />
            Felix Klock
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">10<span>45</span></td>
        <td class="centered">Break</td>
      </tr>
      <tr>
        <td class="time">11<span>00</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#learning-to-love-the-unfamiliar">
            Learning to Love the Unfamiliar
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/brian.jpg" />
            Brian Pearce
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">11<span>30</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#panopticon-a-libre-cross-platform-disassembler-in-rust">
            Panopticon - A Libre Cross-Platform Disassembler in Rust
          </a>
          <div class="speaker">
            <img src="/assets/speakers/kai.jpg" />
            Kai Michaelis
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">12<span>00</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#sensors-servos-and-signals-with-rust">
            Sensors, Servos, and Signals with Rust
          </a>
          <div class="speaker">
            <img src="/assets/speakers/tim.jpg" />
            Tim Cameron Ryan
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">12<span>30</span></td>
        <td class="centered">Lunch Break</td>
      </tr>
      <tr>
        <td class="time">13<span>30</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/">
            intermezzOS: a teaching operating system
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/ashley-williams.jpg" />
            Ashley Williams
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">14<span>00</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#teaching-myself-rust-through-the-medium-of-coordinate-system-transforms-and-ffi">
            Teaching myself Rust through the medium of coordinate system transforms and FFI
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/stephan.jpg" />
            Stephan Hügel
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">14<span>30</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#why-you-d-be-better-off-using-quickcheck-when-porting-to-rust">
            Why you'd be better off using QuickCheck when porting to Rust
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/martin.jpg" />
            Martin Hellspong
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">15<span>00</span></td>
        <td class="centered">Coffee &amp; Cake</td>
      </tr>
      <tr>
        <td class="time">15<span>30</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#linux-usb-hid-interfacing-in-userspace">
            Linux USB HID Interfacing in Userspace
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/wrl.jpg" />
            William Light
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">16<span>00</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#empathetic-communication-why-vulnerability-is-the-key-to-collaboration">
            Empathetic communication: why vulnerability is the key to collaboration
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/sharon.jpg" />
            Sharon Steed
          </p>
        </td>
      </tr>
      <tr>
        <td class="time">16<span>30</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#techniques-for-writing-concurrent-applications-with-asynchronous-i-o">
            Techniques for writing concurrent applications with asynchronous I/O
          </a>
          <div class='speaker'>
            <img src="/assets/speakers/matthieu.jpg" />
            Matthieu Wipliez
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">17<span>00</span></td>
        <td class="centered">Break</td>
      </tr>
      <tr>
        <td class="time">17<span>15</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#science-tools-borrow-rust">
            <strong>Keynote:</strong> Science tools borrow Rust
          </a>
          <div class="speaker">
            <img src="/assets/speakers/hanneli.jpg" />
            Hanneli Tavante
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">18<span>30</span></td>
        <td class="centered">Dinner</td>
      </tr>
        <tr>
          <td class="time">19<span>00</span></td>
          <td class="centered">Evening Event with Drinks, Beers and Xbox-ing
          <br />Come say hello – you won't need a ticket!
        </td>
      </tr>
    </table>

    <h2 class="title">Sunday, 18th September</h2>
    <table cellspacing='0'>
      <tr>
        <td class="time">09<span>30</span></td>
        <td class="centered">Coffee & Breakfast </td>
      </tr>
      <tr>
        <td class="time">10<span>00</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#hobby-oriented-programming">
            Hobby-oriented programming
          </a>
          <div class="speaker">
            <img src="/assets/speakers/sonja.jpg" />
            Sonja Heinen
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">10<span>30</span></td>
        <td class="centered">Workshops &amp; Hacking</td>
      </tr>
      <tr>
        <td class="time">17<span>00</span></td>
        <td>
          <a href="http://www.rustfest.eu/talks/#the-rust-that-could-have-been">
            The Rust That Could Have Been
          </a>
          <div class="speaker">
            <img src="/assets/speakers/marijn.jpg" />
            Marijn Haverbeke
          </div>
        </td>
      </tr>
      <tr>
        <td class="time">17<span>30</span></td>
        <td class="centered">Wrap Up</td>
      </tr>
    </table>
  </section>
</div>
