
$brand_blue: #247EFF;
$brand_dark_blue: #084788;
$brand_purple: #5252C9;
$brand_yellow: #CABD4B;
$brand_green: #09D4B0;

@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

@mixin narrow-device($max-width: (600px - 1px)) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin wide-device($min-width: 600px) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;

  > header, > section, > footer, > div,
  > article section {
    padding: {
      left: 0.6em;
      right: 0.6em;
    };
  }
}


h1 {
  font-size: 35px;
  @include wide-device {
    font-size: 55px;
  }

  margin-bottom: 0.2em;
}

h2 {
  font-size: 24px;
  @include wide-device {
    font-size: 27px;
  }
  
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: 300;
}

h1, h2, h3, h4 {
  svg {
    height: 1em;
    width: 1em;
    height: 0.6em;
    width: 0.6em;
  }
  a {
    opacity: 0.5;
    transition: opacity $base-duration $base-timing;
    &:hover {
      opacity: 0.85;
    }
  }
}

section {
  @include clearfix;
  @include outer-container();

  ul {
    list-style: disc;
    padding-left: 2em;
    margin: 0.5em;
  }
}

.itemgroup {
  @include display(flex);
  @include flex-direction(column);

  @include narrow-device {
    > div {
      margin-bottom: 0.6em;
    }
  }

  @include wide-device {
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-around);
  }
}

a.inline svg {
  width: 1.5em;
  height: 1.5em;
  vertical-align: bottom;
  path {
    fill: $link-color;
  }
}

body {
    background-color: white;
}
