@import "base";

@import
  "components/navigation",
  "components/social_share",
  "components/hero",
  "components/team",
  "components/speakers",
  "components/talks",
  "components/schedule",
  "components/home",
  "components/sponsors",
  "components/ml_form",
  "components/blog",
  "components/tickets",
  "components/footer"
;

.desc {
  margin: 0.25em 0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: $brand_dark_blue;
}


// and other specifics
.hero {
  .itemgroup {
    margin: 2em 0;

    @include wide-device {
      @include align-items(flex-end);
    }
  }

  p {
    margin-bottom: 0;
  }

  .highlight {
    color: $brand_yellow;
    font-style: bold;
  }
}

.cfp-button {
  margin: 2em 0;
}

.timeline {
  font-size: 0.75em;
  min-width: 15em;

  @include wide-device {
    margin: 0 2em 0 4em;
  }

  h3 {
    text-transform: uppercase;
    margin-top: 1.5em;
  }
}

iframe {
  margin: 50px 0;
}
