@import "base";

@import
  "components/navigation",
  "components/hero",
  "components/team",
  "components/home",
  "components/footer"
;

.desc {
  margin: 0.25em 0;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  color: $brand_dark_blue;
}


// and other specifics
.hero {
  .itemgroup{
    margin: 2em 0;
    @include align-items(flex-end);
  }
  p {
    margin-bottom: 0;
  }
  .highlight {
    color: $brand_yellow;
    font-style: bold;
  }
}

.cfp-button,  {
  margin: 2em 0;
}

.timeline {
  font-size: 0.75em;
  margin: 0 2em 0 4em;
  min-width: 15em;
  h3 {
    text-transform: uppercase;
  }
}
