.post h2 {
  margin: 1em 0;
}

.post-meta {
  display: inline-block;
  font-size: 0.925em;
  margin-bottom: 0.2em;
}

.post-content {
  margin: 3em auto;
}

.post-link {
  opacity: 1;
}

.post-list {
  list-style: none;

  padding-left: 0;
  margin: 3em auto;

  @incude wide-device {
    padding-left: 2em;
  }
  
  svg {
    path {
      fill: $brand_dark_blue;
    }
  }

  > li:not(:first-of-type)::before {
    margin: 5em auto 2em auto;
    border-top: 1px solid transparentize($brand_dark_blue, 0.5);
    content: " ";
    display: block;
    width: 50%;
  }
}
