footer {
  @include linear-gradient(to right, $brand_blue, $brand_purple);
  color: white;
  padding: {
    top: 0.5em;
    bottom: 0.5em;
  };
  font-size: 0.8em;
  font-weight: 300;
  border-top: 1px solid white;

  section {
    @include align-items(stretch);
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
  }

  span {
    display: block;
  }

  ul {
    margin: 0;
    @include align-self(flex-end);
    li {
      display: inline;
      margin: 0 1em;
    }
  }

  a, a:visited {
    color: white;
  }
}
