.hero {
  @include linear-gradient(to bottom, transparentize($brand_purple, .3), $brand_blue);
  color: white;
  padding: {
    top: 2em;
    bottom: 5em;
  };

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(../assets/backdrops/hero.jpg);
    background-size: cover;
  }

  h1 {
    @include wide-device {
      margin-top: 2em;
    }
  }
}

.disclaimer {
  font-size: 0.8em;
  font-style: italic;
  padding-top: 3em;
  color: white;
  a, a:visited {
    color: $brand_yellow;
  }
}

.popout {
  background-color: $brand_blue;
  color: white;
  padding: {
    top: 2em;
    bottom: 5em;
  };

  hr  {
    margin-top: 0;
    border-width: 2px;
    border-color: $brand_dark_blue;
  }

  a, a:visited {
    color: $brand_yellow;
  }

  .highlight {
    color: $brand_yellow;
    font-weight: bold;
  }
}
