

.speakers {
  @include display(flex);
  @include align-items(top);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-around);

  list-style: none;
  padding: 0;

  $base-background-color: white !default;
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);

  .speaker-box {
    @include flex-basis(10em);
    @include flex-grow(1);
    background-color: $card-background;
    border: $card-border;
    border-radius: $base-border-radius;
    text-align: center;
    display: inline-block;
    margin: 2em 1em;
    box-shadow: 0 2px 4px darken($base-background-color, 10%);


    .portrait {
      background-color: $base-background-color;
      img {
        width: 80%;
        display: inline-block;
        border-radius: 100%;
        margin: 0.5em auto;
        border: $card-border;
      }
    }

    .info {
      width: 100%;
      border-bottom: $card-border;
      border-top: $card-border;
      display: block;
    }

    .desc {
      text-transform: none;
      padding: 8px;
      color: $base-font-color;
      text-align: justify;
      font-size: 0.65em;
      font-weight: normal;
    }

    .links {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 1.25em;
      li {
        display: inline;
        margin: 0 3px;
      }
    }
  }

  svg {
    height: 0.75em;
    width: 0.75em;
    vertical-align: middle;
    path {
      fill: $base-font-color;
    }
  }

  .name {
    font-size: 1.2em
  }
}
