.sponsors {
  @include linear-gradient(to right, $brand_green, $brand_blue);
  color: white;
  padding: {
    top: 2em;
    bottom: 2em;
  };
  margin: 0;
  font-size: 0.9em;
  img {
    max-height: 25vh;
    max-width: 25vw;
  }
  ul {
    list-style: none;

    @include display(flex);
    @include align-items(center);
    @include flex-direction(row);
    @include justify-content(space-around);
  }

  .button {
    margin: 2.5em 1.5em 0 0;

    &:hover {
      background: transparent;
      border-color: #fff;
    }
  }
}
